html{
    background-color: #dcffee;  
}
h1 {
    font-size: 100px;
    text-align: center;
}
.MenuItemHeading {
    font-size: 50px;
    text-align: center;
}
.MenuContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 205px 40px 30px;
    place-items: center;
}
h3 {
    font-size: 35px;
    margin: auto;
}
h4{
    font-size: 25px;
    margin: auto;    
}
img {
    height: 200px;
    transition: filter 0.2s ease-in-out;
}
img:hover {
    filter: brightness(0.9);
    height: 199px;
}
