html{
    background-color: #BEF9DD;  
}
.CartLogo {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.MenuItemButton{
    border: 0px;
    background-color: #BEF9DD;
}
h1 {
    font-size: 10vw;
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}
h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.MenuItemHeading {
    font-size: 5vw;
    text-align: center;
}
.MenuContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 205px 40px 30px;
    place-items: center;
}
h3 {
    font-size: 2vw;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}
h4{
    font-size: 2vw;
    font-family: "Google Sans", sans-serif;
    font-weight: weight;
    font-style: normal;
    margin-top: 75px;    
}
h5{
    font-size: 1.2vw;
    font-family: "Beau Rivage", cursive;
    font-weight: 400;
    font-style: normal;
    margin:auto;
}
.ItemImage {
    width: 100%;
    height: 200px;
    border-style: double;
    border-width: 4px;
    border-radius: 20px;
    transition: filter 0.2s ease-in-out;
}
.ItemImage:hover {
    filter: brightness(0.9);
    height: 199px;
}
