html{
    background-color: #DCFFEE;  
}
.CartLogo {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.MenuItemButton{
    border: 0px;
    background-color: #DCFFEE;
}
h1 {
    font-size: 10vw;
    text-align: center;
    margin-top: 0px;
}
.MenuItemHeading {
    font-size: 5vw;
    text-align: center;
}
.MenuContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 205px 40px 30px;
    place-items: center;
}
h3 {
    font-size: 2vw;
    margin: auto;
}
h4{
    font-size: 2vw;
    margin: auto;    
}
.ItemImage {
    width: 100%;
    height: 200px;
    transition: filter 0.2s ease-in-out;
}
.ItemImage:hover {
    filter: brightness(0.9);
    height: 199px;
}
