<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Cart</title>
</head>
<body>
    <a href="{{url_for('cart_to_menu')}}">Menu</a>
    <ul>
        {% if items_name_amount | length == 0 %}
        <p>Your cart is empty. Please order items from the menu.</p>
        {% else %}
        {% for item, quantity in items_name_amount.items() %}
        <li><strong>{{ item }} </strong> : {{ quantity }} : ${{ item_price[loop.index0] }}</li>
        <br>
        {% endfor %}
        <p><u>Your total price is ${{ final_price }}</u></p>
        <form action="/clear-cart" method="POST">
                <input type="hidden" name="clear" value="clear">
                <input type = "hidden" name="clear" value="clear">
                <button type="submit">clear cart</button>
    </form>
    <form action="/checkout" method="POST">
                <input type="hidden" name="checkout" value="checkout">
                <input type = "hidden" name="checkout" value="checkout">
                <button type="submit">checkout</button>
    </form>
        {% endif %}
    </ul>
</body>
</html>