<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Beau+Rivage">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>{{description}}</title>
</head>
<body>
    <a href="{{url_for('item_to_menu')}}">Menu</a>
    <h3>{{ items_name[-1] }}</h3>
    <h5>{{ items_description[-1]}}</h5>
    <form actiom = "/process-item" method="POST">
        <input type="hidden" name="form_id" value="form-amount">
        <label for="amount">Amount:</label>
        <input type ="number" name="amount" amount ="amount"><br><br>
        <input type="submit"value="submit">
    </form>
    {% if items_name[-1] in items_dict %}
    <p>This item is already in your cart, if you would like to remove it please click the button below</p>
    <form action="/remove-item" method="POST">
                <input type="hidden" name="remove" value="remove">
                <input type = "hidden" name="remove" value="remove">
                <button type="submit">Remove {{ items_name[-1] }}</button>
    </form>
    {% endif %}
</body>
</html>
