<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Menu</h1>
    <h2 class="MenuItemHeading">Burgers</h2>
    <div class="MenuContainer">
        <div>
            <img src="{{ url_for('static', filename='images/place_holder.png')}}" alt="Bacon Cheeseburger">
            <h3>Bacon Cheeseburger</h3>
            <h4>$9.99</h4>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/place_holder.png')}}" alt="Chicken Burger">
            <h3>Chicken Burger</h3>
            <h4>$8.99</h4>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/place_holder.png')}}" alt="Fish Burger">
            <h3>Fish Burger</h3>
            <h4>$8.99</h4>
        </div>
        <div>4</div>
        <div>5</div>
    </div>   
    <h2 class="MenuItemHeading">Pizza</h2>
    <div class="MenuContainer">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
    <h2 class="MenuItemHeading">Sides</h2>
    <div class="MenuContainer">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
    <h2 class="MenuItemHeading">Drinks</h2>
    <div class="MenuContainer">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
</body>
</html>