<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Google+Sans">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Menu</title>
</head>
<body>
        <a href="{{url_for('cart')}}"><img class="CartLogo" src="{{ url_for('static', filename='images/shopping_icon.png')}}"></a>
        <a href="{{url_for('menu_to_menu')}}"><img class="GrillLogo" src="{{ url_for('static', filename='images/the_grill_icon.png')}}"></a>
    <h1>Menu</h1>
    <h2 class="MenuItemHeading">Burgers</h2>
    <div class="MenuContainer">

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="bacon_cheeseburger">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/burgers/bacon_cheeseburger.png')}}" alt="Bacon Cheeseburger"></button>
            
        </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="chicken_burger">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/burgers/chicken_burger.png')}}" alt="Chicken Burger"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="fish_burger">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/burgers/fish_burger.png')}}" alt="Fish Burger"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="cheeseburger">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/burgers/Cheeseburger.png')}}" alt="Cheesburger"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="burger_supreme">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/burgers/burger_supreme.png')}}" alt="Burger Supreme"></button>
            </form>
        </div>

        <div><h3>Bacon Cheeseburger</h3></div>

        <div><h3>Chicken Burger</h3></div>

        <div><h3>Fish Burger</h3></div>

        <div><h3>Cheeseburger</h3></div>

        <div><h3>Burger Supreme</h3></div>

        <div><h4>$9.99</h4></div>

        <div><h4>$9.99</h4></div>

        <div><h4>$9.99</h4></div>

        <div><h4>$9.49</h4></div>

        <div><h4>$11.99</h4></div>
    </div>   
    <h2 class="MenuItemHeading">Pizza</h2>
    <div class="MenuContainer">

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="hawaiian_pizza">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/pizzas/hawaiian_pizza.png')}}" alt="Hawaiian Pizza"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="meat_lovers_pizza">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/pizzas/meat_lovers_pizza.png')}}" alt="Meat Lovers Pizza"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="peperoni_pizza">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/pizzas/peperoni_pizza.png')}}" alt="Peperoni Pizza"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="margarita_pizza">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/pizzas/margarita_pizza.png')}}" alt="Margarita Pizza"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="ham_and_cheese_pizza">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/pizzas/ham_and_cheese_pizza.png')}}" alt="Ham and Cheese Pizza"></button>
            </form>
        </div>

        <div><h3>Hawaiian Pizza</h3></div>

        <div><h3>Meat Lovers Pizza</h3></div>

        <div><h3>Peperoni Pizza</h3></div>

        <div><h3>Margarita Pizza</h3></div>

        <div><h3>Ham and Cheese Pizza</h3></div>

        <div><h4>$12.99</h4></div>

        <div><h4>$12.99</h4></div>

        <div><h4>$12.99</h4></div>

        <div><h4>$10.99</h4></div>

        <div><h4>$10.99</h4></div>
    </div>
    <h2 class="MenuItemHeading">Sides</h2>
    <div class="MenuContainer">
        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="fries">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/sides/fries.png')}}" alt="Fries"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="onion_rings">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/sides/onion_rings.png')}}" alt="Onion Rings"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="garlic_bread">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/sides/garlic_bread.png')}}" alt="Garlic Bread"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="curly_fries">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/sides/curly_fries.png')}}" alt="Curly Fries"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="salad">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/sides/salad.png')}}" alt="Salad"></button>
            </form>
        </div>

        <div><h3>Fries</h3></div>

        <div><h3>Onion Rings</h3></div>

        <div><h3>Garlic Bread</h3></div>

        <div><h3>Curly Fries</h3></div>

        <div><h3>Salad</h3></div>

        <div><h4>$5.99</h4></div>

        <div><h4>$7.99</h4></div>
        
        <div><h4>$5.49</h4></div>

        <div><h4>$9.49</h4></div>

        <div><h4>$5.99</h4></div>
    </div>
    <h2 class="MenuItemHeading">Drinks</h2>
    <div class="MenuContainer">
        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="fizzy_drink">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/drinks/fizzy_drink.png')}}" alt="Fizzy Drink"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="lemonade">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/drinks/lemonade.png')}}" alt="Lemonade"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="milkshake">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/drinks/milkshake.png')}}" alt="Milkshake"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="orange_juice">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/drinks/orange_juice.png')}}" alt="Orange Juice"></button>
            </form>
        </div>

        <div>
            <form action="/process-item" method="POST">
                <input type="hidden" name="form_id" value="form_item">
                <input type = "hidden" name="item_id" value="smoothie">
                <button class="MenuItemButton" type="submit" ><img class="ItemImage" src="{{ url_for('static', filename='images/drinks/smoothie.png')}}" alt="Smoothie"></button>
            </form>
        </div>

        <div><h3>Fizzy Drink</h3></div>

        <div><h3>Lemonade</h3></div>

        <div><h3>Milkshake</h3></div>

        <div><h3>Orange Juice</h3></div>

        <div><h3>Smoothie</h3></div>

        <div><h4>$2.99</h4></div>

        <div><h4>$2.49</h4></div>

        <div><h4>$5.99</h4></div>

        <div><h4>$2.49</h4></div>

        <div><h4>$5.99</h4></div>
    </div>
</body>
</html>